.card {
    width: 200px;
    background-color: rgb(253, 228, 219);
    padding: 20px;
    border: 2px solid coral;
    text-align: center;
    border-radius: 4px;
}

.card div {
    font-size: 80px;
}

a {
    background-color: coral;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.card::before {
    content:"SALE";
    background-color: red;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: white;
}

a:hover{
    background-color: rgb(253, 228, 219);
    border: 2px solid coral;
    color: coral;
}

p:hover::after {
    content: " Now $29";
    color: red;
}

a:active {
    background-color: red;
    color: white;
}